@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
    background-color: #9edae0;
}

a{
    text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

/*
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(126, 126, 122);
}
*/

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Seção de apresentação */

#presentation{
    background-image: url(assets/paper2.webp);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1){
    animation-delay: .8s;
}

#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}
#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: #e8d826;
    background-color: transparent;
    border: 2px solid #e8d826;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;

}
#presentation .cta:hover{
    color: white;
    font-weight: 500;
    background-color: #e8d826;
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: #e8d826;
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#presentation::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    background-color:black;
    opacity: 0.5;
    z-index: -1;
}


/* Seção de Portifólio */

#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

#portfolio .portfolio-header img{
    margin-top: 50px;
    margin-bottom: 90px;
    width: 500px;
}

#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .img-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #882f03 0%, #3f264d 100%);
    color: white;
}

#portfolio .img-info h1{
    font-size: 4rem;
    font-weight: 500px;
}

#portfolio .img-info h2{
    font-size: 1.8rem;
    font-weight: 500px;
    margin-top: 10px;
}

#portfolio .img-item {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .img-info a{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
 
#portfolio .img-item:after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #acbfb7 0%, #f6ebdd 100%);
    opacity: 0.2;
}
#portfolio .project-img img{
    transition: 0.5s ease transform;
}
#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}

#portfolio .project-item .links a{
    padding: 10px;
    font-size: 30px;
}


/* Introdution */

#introdution .introdution-container {
    margin: 30px;
    padding: 30px;
    text-align: center;
    background-color: #f6ebdd;
    font-size: 25px;
}

#introdution .text-introdution p{
    padding: 25px 10px;
    font-size: 20px;
}

/* Footer (medias sociais e btn back to top)*/

footer .medias-sociais {
    text-align: center; 
 }
 
 footer .medias-sociais a i {
     font-size: 50px;
     margin: 10px;
     transition: 0.3s;
 }
 
 footer .medias-sociais a i:hover {
     transform: translateY(-8px);
 }
 
 footer .btn-back-top a i{
     text-decoration: none; 
     color: #3f264d; 
     font-size: 36px;     
     margin: 30px 50px;    
 }
 

 
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: #e8d826;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%
    }
}



/*
.carousel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 650px;
    width: 650px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);    
}

.btn {
    font-size: 50px;
    margin: 50px;
    color: #101012;
}

.btn:hover {
    transition: 0.6s ease;
    color: #d5c8c8;
}

.slider .img-item {    
    height: 350px;
    opacity: 0.7;   
    overflow: hidden;
    position: relative;
}

.slider img::after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #acbfb7 0%, #f6ebdd 100%);
    opacity: 0.2;
}

.slider img {
    transition: 0.6s ease transform;
}

.slider:hover img {
    transform: scale(1.2);
}

.img-info h1, .img-info p, .img-info h2, .img-info a{
    padding: 10px;
    color: #f0f0f0;
}

.img-info a {
    font-size: 35px;
}

.img-info {
    height: 300px;
    width: 650px;
    background-image: linear-gradient(60deg, #a13905 0%, #2e013c 100%);
    align-items: center;
    position: relative;
    text-align: center;
    padding: 20px;
}
*/