@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

/*

Paleta de cores

#div1 {
    background-color: #3f264d; roxo
}
#div2 {
    background-color: #5d2747; roxo claro
}
#div4 {
    background-color: ##9edae0; azul claro
}
#div5 {
    background-color: #f6ebdd; quase branco
}
#div6 {
    background-color: #e8d826; dourado
}
*/



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
    background-color: #9edae0;
}

a{
    text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 500;  
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}


/* Seção de apresentação */

#presentation{
    background-image: url(assets/paper2.webp);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1){
    animation-delay: .8s;
}

#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}
#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: #e8d826;
    background-color: transparent;
    border: 2px solid #e8d826;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;

}
#presentation .cta:hover{
    color: white;
    font-weight: 500;
    background-color: #e8d826;
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: #e8d826;
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#presentation::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    background-color:black;
    opacity: 0.5;
    z-index: -1;
}

/* Introdution */

#introdution .introdution-container {
    margin: 30px;
    padding: 30px;
    text-align: center;
    background-color: #f6ebdd;
    font-size: 25px;
}

#introdution .text-introdution p{
    padding: 25px 100px;
    font-size: 20px;
}

/* Seção de Portifólio */

#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

#portfolio .portfolio-header img{
    margin-top: 50px;
    margin-bottom: 90px;
    width: 600px;
}

#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #5d2747 0%, #3f264d 100%);
    color: white;
}

#portfolio .project-info h1{
    font-size: 4rem;
    font-weight: 500px;
}

#portfolio .project-info h2{
    font-size: 1.8rem;
    font-weight: 500px;
    margin-top: 10px;
}

#portfolio .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .project-info a{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
 
#portfolio .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #acbfb7 0%, #f6ebdd 100%);
    opacity: 0.2;
}
#portfolio .project-img img{
    transition: 0.5s ease transform;
}
#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}

/* Footer (medias sociais e btn back to top)*/

footer .medias-sociais {
   text-align: center; 
}

footer .medias-sociais a i {
    color: #3f264d;
    font-size: 50px;
    margin: 10px;
    transition: 0.3s;
}

footer .medias-sociais a i:hover {
    transform: translateY(-8px);
}

footer .btn-back-top a i{
    text-decoration: none; 
    color: #3f264d; 
    font-size: 36px;     
    margin: 30px 50px;    
}

/* Keyframes */

@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: #e8d826;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%
    }
}

/* Media Query */

@media only screen and (max-width: 425px) {
    #portfolio .portfolio-header #img-title{
        width: 350px;
    }
    #portfolio .project-info h1 {
        font-size: 30px;
    }
    #presentation h1 {
        font-size: 40px;
    }
    #introdution .introdution-container {
        margin: 0px;
        padding: 40px 20px;
        text-align: center;
        background-color: #f6ebdd;
        font-size: 15px;
    }    
    #introdution .text-introdution p{
        padding: 10px 30px;
        font-size: 14px;
    }
    footer .btn-back-top{
        text-align: center;
        margin: 0;
    } 
}

@media only screen and (min-width: 768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 480px;
        margin: 0;
        width: 90%;
        border-radius: 0;
    }
    #portfolio .all-projects .project-info{
        height: 100%
    }
    #portfolio .all-projects .project-img{
        height: 100%
    }
    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }     
}

